body {
    background-color: #9bafc1; /* Cor de fundo suave (azul claro) */
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #1c7d46; /* Cor verde */
    text-align: center;
}

p {
    font-size: 18px;
    color: rgb(1, 4, 1);
    text-align:justify;
}

ul {
    line-height: 1.8; /* Espaçamento entre itens da lista */
}

.imagem-hobby {
    border-radius: 10px; /* Bordas arredondadas */
    width: 400px;
    display:block;
    margin: 30px auto;
}

table {
    width: 100%;
    margin: 40px auto;
    border-collapse:collapse;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 10px;
    text-align: center;
}

.imagem-pais {
    width: 200px;
    border-radius: 5px;
}

a {
    color: #1472d0;}

a:hover {
    color: #ff6600; /* Cor ao passar o mouse no "meu de site interesse"*/
}

button {
    padding: 10px 15px;
    background-color:darkgreen;
    color: rgb(247, 246, 246);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #cad6ca;
}